<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mainpackage.viso">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Viso">
        <activity
            android:name=".herramientas.splashscreen.Completado"
            android:exported="false" />
        <activity
            android:name=".herramientas.splashscreen.Presentacion"
            android:exported="false" />
        <activity
            android:name=".ui.cuenta.registro.adulto.Login"
            android:exported="false" />
        <activity
            android:name=".herramientas.splashscreen.Bienvenido"
            android:exported="false" />
        <activity
            android:name=".ui.informacion.informativa.Informativa"
            android:exported="false" />
        <activity
            android:name=".herramientas.splashscreen.Eliminado"
            android:exported="false" />
        <activity
            android:name=".ui.actividad.instruccion.Instruccion"
            android:exported="false" />
        <activity
            android:name=".ui.actividad.get.ActividadShow"
            android:exported="false" />
        <activity
            android:name=".herramientas.splashscreen.Realizada"
            android:exported="false" />
        <activity
            android:name=".herramientas.splashscreen.Cargando"
            android:exported="false" />
        <activity
            android:name=".ui.actividad.set.confirm.ActividadConfirm"
            android:exported="false" />
        <activity
            android:name=".ui.actividad.set.ActividadN"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Viso.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>